/* NepsRegisterView.css */

.root, .anchor-pane, .AnchorPane {
    -fx-background-image: url("../../../../image/welcome.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.label {
    -fx-background-color: #ABD7C8;
    -fx-padding: 2 8 2 8;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.label[styleClass~="label-title"] {
    -fx-background-color: transparent;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-background-color: #ABD7C8;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #BAD59C;
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #ABD7C8;
    -fx-text-fill: #2B4D3A;
}

.radio-button {
    -fx-background-color: #BAD59C;
    -fx-font-size: 14px;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
} 